/*** uncss> filename: http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300 ***/
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Anonymous Pro'), local('AnonymousPro'), url(http://fonts.gstatic.com/s/anonymouspro/v9/Zhfjj_gat3waL4JSju74Eyepy_bK1QysdtOeR9F4Ffs.ttf) format('truetype');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(http://fonts.gstatic.com/s/anonymouspro/v9/WDf5lZYgdmmKhO8E1AQud_PUlNJBs1LjT_hi6_KOI-I.ttf) format('truetype');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Anonymous Pro Italic'), local('AnonymousPro-Italic'), url(http://fonts.gstatic.com/s/anonymouspro/v9/q0u6LFHwttnT_69euiDbWHYERyxqu4bunGuIRUtIkRI.ttf) format('truetype');
}
@font-face {
  font-family: 'Anonymous Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Anonymous Pro Bold Italic'), local('AnonymousPro-BoldItalic'), url(http://fonts.gstatic.com/s/anonymouspro/v9/_fVr_XGln-cetWSUc-JpfG5LgoF-04rdOuVmAyCISpg.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local('Lora'), local('Lora-Regular'), url(http://fonts.gstatic.com/s/lora/v9/4A-myfZX6oDr9CtSTkTGig.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: local('Lora Bold'), local('Lora-Bold'), url(http://fonts.gstatic.com/s/lora/v9/rapsGf8n-DpRu9kcmAAciA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: local('Lora Italic'), local('Lora-Italic'), url(http://fonts.gstatic.com/s/lora/v9/DeoOq1kX9ExfArSHppos_g.ttf) format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'), url(http://fonts.gstatic.com/s/lora/v9/_IxjUs2lbQSu0MyFEAfa7aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(http://fonts.gstatic.com/s/merriweather/v13/ZvcMqxEwPfh2qDWBPxn6ngV_pQ1T3xN3K1c3sB361us.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'), url(http://fonts.gstatic.com/s/merriweather/v13/RFda8w1V0eDZheqfcyQ4EInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(http://fonts.gstatic.com/s/merriweather/v13/ZvcMqxEwPfh2qDWBPxn6nn06qf9KHRHwsVx7iw5MXmY.ttf) format('truetype');
}
 
/*** uncss> filename: ../../docs/css/main.css ***/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    border-top: 6px solid #2391c9;
    background: #fff url(../images/content-bg.png);
    margin: 0;
    padding: 0;
    width: 100%;
    outline: 0;
}
header,
main,
section {
    display: block
}
a {
    background-color: transparent
}
a:active,
a:hover {
    outline: 0
}
strong {
    font-weight: bold
}
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
img {
    border: 0
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre {
    overflow: auto
}
code,
pre {
    font-family: monospace, monospace;
    font-size: 1em
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: none
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}
body {
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff
}
a {
    color: #337ab7;
    text-decoration: none
}
a:hover,
a:focus {
    color: #23527c;
    text-decoration: none
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
img {
    vertical-align: middle
}
main img {
    display: block;
    max-width: 100%;
    height: auto
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}
h1,
h2,
h3,
h4 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px
}
h1 {
    font-size: 42px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 18px
}
p {
    margin: 0 0 10px
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}
@media (min-width: 768px) {
    .lead {
        font-size: 21px
    }
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px
}
ul ul {
    margin-bottom: 0
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}
blockquote p:last-child {
    margin-bottom: 0
}
code,
pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px
}
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
.container:before,
.container:after {
    content: " ";
    display: table
}
.container:after {
    clear: both
}
@media (min-width: 768px) {
    .container {
        width: 750px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.lead p img,
.pull-right {
    float: right !important
}
.pull-left {
    float: left !important
}
@-ms-viewport {
    width: device-width
}


@media (max-width: 768px) {
    .container {
        margin: 0 15px
    }
}
header {
    display: block;
    width: 100%;
    

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover
}
header h1 {
    font-size: 60px;
    font-size: 60px;
    line-height: 65px;
    font-weight: bold;
    color: #1e83b6;
    letter-spacing: 3px;
    margin-bottom: 0px;
    margin-top: 42px;
    /*margin-left: 107px;*/
    
}
@media (max-width: 1200px) {
    header h1 {
        font-size: 60px;
        line-height: 72px;
    }
}
@media (max-width: 991px) {
    header h1 {
        font-size: 55px
    }
}
@media (max-width: 668px) {
    header h1 {
        font-size: 70px
    }
}
@media (max-width: 640px) {
    header h1 {
        font-size: 60px
    }
    img.logo {
        display:none;
    }
}
main hr {
    margin: 80px 0
}
main section {
    overflow: hidden
}
main h1 {
    font-size: 70px
}
main h2 {
    font-size: 50px
}
@media (max-width: 1200px) {
    main hr {
        margin: 50px 0
    }
    main h1 {
        font-size: 50px
    }
    main h2 {
        font-size: 35px
    }
}
@media (max-width: 991px) {
    main hr {
        margin: 40px 0
    }
    main h2 {
        font-size: 30px
    }
    main img {
        max-width: 50%
    }
}
@media (max-width: 768px) {
    main hr {
        margin: 40px 0
    }
    main h2 {
        font-size: 25px
    }
}
@media (max-width: 668px) {
    main hr {
        margin: 30px 0
    }
}
@media (max-width: 375px) {
    main hr {
        margin: 10px 0
    }
    main img {
        max-width: 100%
    }
}


/* page footer */

footer {
    border-top: 1px dashed #d2d2d2;
  margin: 3em 0;
}

footer .copy {
  text-align: center;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 1em;
}

footer .copy {
  color: #8e8e8e;
}

/* Photostream */
footer ul.photostream {
    list-style: none;
    margin: 18px 0 24px 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

footer ul.photostream li {
    
    display: inline-block;
    height: 150px;
    weight: 150px;
    margin: 0 12px 12px 0;
    padding: 0;
}

footer ul.photostream li a {
    border: none;
}

/*  6. Buttons  --------------------------------------------------------- */

.button,
.button:visited {
   height: 42px;
   background: #3695c6;
   border: 1px solid #1C89C4;
	display: inline-block;

	font-family: "Open-sans", Sans-serif;
   font-size: 14px;
	font-weight: bold;
	text-decoration: none;
   letter-spacing: 0;
   color: #fff;
   line-height: 42px;

	cursor: pointer;
   padding-left: 15px;
   padding-right: 15px;
	margin-bottom: 18px;

    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   text-shadow: 0 -1px 0 rgba(0,0,0,0.3);

   box-shadow: 0px 1px 2px rgba(0,0,0,0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

.button:hover {
   background: #7AA300;
   color: #fff;
   border: 1px solid #739900;
}

.button:active {
   background: #7AA300;
   color: #fff;
   border: 1px solid #739900;
}

/* Fix for odd Mozilla border & padding issues */

p.description {
    font-family: "Noticia Text", Serif;
    font-size: 17px !important;
    line-height: 24px !important;
    min-height: 30px;
    font-weight: normal;
    font-style: italic;
    color: #a2a4a5;
    /*margin-left: 111px;*/
    margin-top: 6px;
    vertical-align: center;
}

section.blurb{
 line-height: 42px;  
 font-size: 19px; 
 color: #737373;
 padding-bottom: 10px;
}

img.logo {
    margin-top:42px; 
    height:85px;
    padding-right: 12px;
}