
extends layout

block append vars
  - bodyclass = 'article-detail'

block linkrel
  link(rel='stylesheet', href=env.helpers.makeRelative(page.url, env.config.baseUrl + 'css/main.css'))


block prepend title
  | #{ env.helpers.sortOfTitle(page) + ' - '}

block header
    page.url  

block content
    section
      div.lead!= typogr(page.html).typogrify()

block prepend footer
  
  
