
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.filename.replace('.html','').replace(/-/g,' ') + ' - '}

block header
  

block content
    section
      div.lead!= typogr(page.html).typogrify()

block prepend footer
  
  
