
extends layout

block content
  
  each article in articles
    hr(id=article.anchorname)
    section
      div.lead
        != typogr(article.html).typogrify()
      
block prepend footer
  include footer.html
  